{% extends "template.html" %}

{% block title %}Toodle{% endblock %}

{% block main %}
<style>
    @media only screen and (max-width: 950px) {
        img {
            display: none;
        }
        .card_container {
            flex-direction: column;
        }

        .card {
            margin:0 0 10% 0;
        }

        #button {
            margin: 0 0 5% 0;
        }
    }
</style>
<br>
<div class="container">
    <h1 class="title is-1"
        style="color: #4c4c4c; font-size: 4rem; text-align: center; margin-top: 10%; margin-bottom: 0px;">Toodle</h1>
    <p class="is-size-3" style="color: #4c4c4c; text-align: center;">A simple task manager</p>
    <div style="text-align: center; margin-top: 5%;">
        {% if session.get("logged_in") == None %}
        <a class="button is-primary is-medium" id="button" href="{{ url_for('signup') }}">
            Sign up
        </a>
        <a class="button is-info is-medium" id="button" href="{{ url_for('login') }}">
            Log in
        </a>
        {% else %}
        <a class="button is-primary is-large" id="button" href="{{ url_for('tasks') }}">
            Tasks
        </a>
        {% endif %}
    </div>
    <br>
    <div style="margin: 5% 10% 5% 10%;">
        <picture>
            <img src="{{url_for('static', filename='example_toodle.png')}}" style="border-radius: 19px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
        </picture>
    </div>
    
</div>
<div style="background-color: #effcf1;">
    <div class="container">
        <h1 class="title is-1" style="padding-top: 5%; text-align: center; font-size: 3.5rem;">Features</h1>
        <div class="card_container" style="display: flex; margin-left: 25%; margin-right: 25%; margin-top: 3%; padding-bottom: 50px;">
            <div class="card"
                style="margin-right: 5%; border-radius: 15px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-content" style="text-align: center;">
                    <p class="title is-4">Create tasks</p>
                </div>
            </div>
            <div class="card"
                style="margin-right: 5%; border-radius: 15px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-content" style="text-align: center;">
                    <p class="title is-4">Create groups</p>
                </div>
            </div>
            <div class="card"
                style="border-radius: 15px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-content" style="text-align: center;">
                    <p class="title is-4">Manage your tasks</p>
                </div>
            </div>
        </div>
        <p style="text-align: center;">Copyright © 2020 Richi Tan</p>
    </div>
</div>
    <div style="background-color: #effcf1;">
        <br>
</div>
{% endblock %}