{% extends "template.html" %}

{% block title %}Toodle Tasks{% endblock %}
{% block main %}
<div class="container">
    <h1 class="title is-1">Tasks</h1>
    {% if session.get("logged_in") != None %}
    <div class="tasks" style="margin-bottom: 1em;">
        <a href="{{ url_for('create') }}" class="button is-primary">New Task</a>
        <a href="{{ url_for('create_group') }}" class="button is-info">New Group</a>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    {% if filtered == True %}
                    <span>{{filter_group.name}}</span>
                    {% else %}
                    <span>All groups</span>
                    {% endif %}
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for group in groups %}
                    <a href="{{ url_for('filtered_tasks', id=group.id)}}" class="dropdown-item">
                        {{group.name}}
                    </a>
                    {% endfor %}
                    <hr class="dropdown-divider">
                    <a href="{{url_for('tasks')}}" class="dropdown-item">
                        All groups
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if filtered == True%}
    <div
        style="background-color: #effcf1; padding: 0.41%; margin-bottom: 2%; border-radius: 19px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if filter_group.name == "No group" %}
        <h1 class="title is-6" style="color: #4c4c4c; font-size: 1.10rem; margin-left: 1%">
            {{filter_group.name}}
        </h1>
        {% else %}
        <h1 class="title is-6" style="color: #4c4c4c; font-size: 1.10rem; margin-left: 1%">
            <a href="{{url_for('edit_group', id=filter_group.id)}}" style="color: #4c4c4c;">{{filter_group.name}}</a>
            <a href="{{url_for('create_task', id=filter_group.id)}}">
                <i class="fas fa-plus fa-xs" style="color:gray;">
                </i>
            </a>
        </h1>
        {% endif %}
        {% for task in filter_group.tasks %}
        {% if task.done == False %}
        <div class="box" style="margin: 1% 1% 1% 1%">
            <arcticle class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{task.title}}</strong>
                            <br>
                        <p>{{task.desc}}</p>
                        <br>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <form action="" method="POST">
                        <a href="{{url_for('done', id=task.id)}}"><i class="fas fa-check" style="color:gray;"></i></a>
                    </form>
                    <form action="" method="POST">
                        <a href="{{url_for('edit', id=task.id)}}"><i class="far fa-edit" style="color:gray;"></i></a>
                    </form>
                </div>
            </arcticle>
        </div>
        {% endif %}
        {% endfor%}
    </div>
    {% else %}
    {% for group in groups %}
    {% if groups.index(group) % 2 == 0 %}
    <div
        style="background-color: #effcf1; padding: 0.41%; margin-bottom: 2%; border-radius: 19px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% else %}
        <div
            style="background-color: #ebfffc; padding: 0.41%; margin-bottom: 2%; border-radius: 19px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            {% endif %}
            {% if group.name == "No group" %}
            <h1 class="title is-6" style="color: #4c4c4c; font-size: 1.10rem; margin-left: 1%">
                {{group.name}}
            </h1>
            {% else %}
            <h1 class="title is-6" style="color: #4c4c4c; font-size: 1.10rem; margin-left: 1%">
                <a href="{{url_for('edit_group', id=group.id)}}" style="color: #4c4c4c;">{{group.name}}</a>
                <a href="{{url_for('create_task', id=group.id)}}">
                    <i class="fas fa-plus fa-xs" style="color:gray;">
                    </i>
                </a>
            </h1>
            {% endif %}
            {% for task in group.tasks %}
            {% if task.done == False %}
            <div class="box" style="margin: 1% 1% 1% 1%">
                <arcticle class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{task.title}}</strong>
                                <br>
                            <p>{{task.desc}}</p>
                            <br>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <form action="" method="POST">
                            <a href="{{url_for('done', id=task.id)}}"><i class="fas fa-check"
                                    style="color:gray;"></i></a>
                        </form>
                        <form action="" method="POST">
                            <a href="{{url_for('edit', id=task.id)}}"><i class="far fa-edit"
                                    style="color:gray;"></i></a>
                        </form>
                    </div>
                </arcticle>
            </div>
            {% endif %}
            {% endfor %}
            <br>
        </div>

        {% endfor %}
        {% endif %}
        {% endif %}
        <br>
    </div>
</div>

{% endblock %}